// light mode
$mainColorLight: rgb(75, 106, 155);
$bgColorLight: rgb(246, 248, 255);
$elemColorLight: rgb(254, 254, 254);
$elemShadowLight: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
$activeColorLight: #222731;
$statsElemLight: #F6F8FF;
// ================

// dark mode
$mainColorDark: rgba(255, 255, 255);
$bgColorDark: rgb(20, 29, 47);
$elemColorDark: rgb(30, 42, 71);
$statsElemDark: #141D2F;


// ================


$fontFamily: "Space Mono";
$fontSize: 15px;
$bradius: 15px;
