.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
.container {
   min-height: 100vh;
   display: flex;
   padding: 2rem;
}
.body {
   flex: 1 1 auto;
   max-width: 730px;
   margin: 0 auto;
   @media (max-width: 768px) {
      max-width: 573px;
   }
}
.searchSection {
}


